body {
    background-color: #24262C;
    font-family: "Nunito";
}

.button a {
    text-decoration: none;
    color: white;
}

.main-container {
    max-width: 75vw;
    margin: 30;
    background-color: #24262C;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.top-menu-container {
    margin-bottom: 90px;
}

.top-menu-container > a {
    text-decoration: none;
}

.top-menu{
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.top-menu:hover {
    cursor: pointer;
    color: #96897B;
}

.top-menu.active {
    cursor: pointer;
    color: #96897B;
}

.top-menu.distanced {
    margin-right: 30px;
}

.who-am-i-container {
    color: white;
}

.top-left-container {
    max-width: 400px;
    margin-top: 90px;
}

.top-image {
    width: auto;
    height: 700px;
}

.top-right-container {
    max-width: 400px;
    margin-top: 90px;
}

.button {
    width: 185px;
    background-color: #96897B;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    color: white;
}

.button:hover {
    background-color: #96897b7c;
    cursor: pointer;
}

.subtitle {
    font-weight: bold;
}

.portofolio-1 {
    width: 100%;
    background-color: white;
    color: #383d3f;
}

.portofolio-1-content-container {
    max-width: 960px;
}

.video-container {
    border-radius: 20px;
}

.portofolio-2{
    color: white;
}

.contact-me {
    width: 100%;
    padding-bottom: 100px;
    border-top: 1px solid white;
}

.social-media-container {
    width: 800px;
}

.social-media-container > i:hover {
    cursor: pointer;
}

.contact-me .subtitle {
    color: white;
}

.button-to-top {
    position: fixed;
    top: 700px;
    right: 100px;
    width: 90px;
    height: 90px;
    background-color: #CF995F;
    border-radius: 20px;
}

.button-to-top:hover {
    background-color: #dfb07e;
    cursor: pointer;
}

.social-media-container i {
    font-size: 5rem; color: #CF995F;
}

.link-video {
    display: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .main-container {
        max-width: 90vw;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .main-container {
        max-width: 100vw;
    }

    .top-image {
        display: none;
    }

    .portofolio-1-content-container > img {
        width: 300px;
        height: auto;
    }

    .button {
        margin-bottom: 20px;
    }

    .top-menu-container {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 577px) and (max-width: 991px) {
    .main-container {
        max-width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
    }

    .top-image {
        display: none;
    }

    .portofolio-1-content-container {
        padding: 10px;
    }

    .portofolio-1-content-container > img {
       display: none;
    }

    .button {
        margin-bottom: 20px;
    }

    .top-menu-container {
        margin-bottom: 10px;
    }

    .social-media-container {
        width: 600px;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0f0f12;
        width: 100%;
        padding: 10px;
    }

    .top-menu {
        margin-top: 15px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .main-container {
        max-width: 100vw;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
    }

    .top-image {
        display: none;
    }

    .portofolio-1-content-container {
        padding: 10px;
    }

    .portofolio-1-content-container > img {
       display: none;
    }

    .button {
        margin-bottom: 20px;
    }

    .top-menu-container {
        margin-bottom: 10px;
    }

    .social-media-container {
        width: 300px;
    }
    
    .video-container iframe {
        display: none;
    }

    .top-left-container {
        margin-top: 0;
    }

    .top-right-container {
        margin-top: 0;
    }

    .social-media-container i {
        font-size: 2rem; color: #CF995F;
    }

    .portofolio-desc-container {
        margin-top: 0 !important;
    }

    .subtitle {
        margin: 20px !important;
    }

    .link-video {
        display: inline-block;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #0f0f12;
        width: 100%;
        padding: 10px;
    }

    .top-menu {
        margin-top: 15px;
    }
}