body {
    background-color: #24262C;
    color: white;
    font-family: "Nunito";
}

a {
    text-decoration: none;
}

a, a i {
    color: white;
}

a:hover {
    color: white;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.navbar-nav {
    min-width: 100px;
    background-color: #24262C;
    padding-left: 10px;
}

.main {
    width: 90vw;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.menu-button-container {
    position: fixed;
    top: 20px;
    left: 20px;
}

.menu-nav-button-container {
    width: 35px;
    height: 35px;
    border-radius: 18px;
    background-color: #24262C;
}

.menu-button-container i {
    color: white;
    font-size: 24px;
}

.image-profile-container {
    height: 366px;
}

.image-profile-container img {
    max-height: 366px;
}

.description-profile {
    height: 666px;
    width: 372px;
}

.description-profile p{
    font-size: 18px;
}

.vertical-divider-container {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.vertical-divider {
    width: 2px;
    height: 666px;
    background-color: white;
}

.divider-dot {
    width: 25px;
    height: 25px;
    background-color: #24262C;
    border-radius: 13px;
    border: 5px solid white;
    position: absolute;
}

.welcome-text {
    font-size: 72px;
    font-family: "Black Han Sans";
    color: #F39C12;
}

icon-bullet {
    color: white;
    width: 24px;
    height: 24px;
}

.subtitle {
    font-size: 48px;
    font-family: "Black Han Sans";
}

#welcome {
    margin-top: 3em;
    margin-bottom: 5em;
}

#portofolio{
    margin-left: auto;
    margin-right: auto;
}

.portofilio-list-container, .skill-list-container {
    width: 100% !important;
}

.portofolio-1 {
    background-color: #222327;
    height: 412px;
}

.portofolio-2 {
    background-color: #2A2B2F;
    height: 412px;

}

.portofolio-desc-container {
    max-width: 422px;
}

.portofolio-desc-container p {
    text-align: center;
}

.portofolio-1 h5 {
    color: #706FD3;
}

.portofolio-2 h5 {
    color: #1B9CFC;
}

#skills {
    background-color: #2E3035;
}

.proggress-bar-container {
    width: 100%;
    height: 18px;
    background-color: #222327;
}

.proggress-bar-title {
    font-weight: 700;
    font-size: 18px;
}

.proggress-bar-note-green {
    font-size: 11px;
    color: #A0F90F;
}

.proggress-bar-note-yellow {
    font-size: 11px;
    color: #F39C12;
}

.value-proggress-90 {
    width: 90%;
    height: 18px;
    background-color: #2A2B2F;
}

.value-proggress-80 {
    width: 80%;
    height: 18px;
    background-color: #2A2B2F;
}

.value-proggress-70 {
    width: 70%;
    height: 18px;
    background-color: #2A2B2F;
}

.rating-container {
    width: 100px;
}

.rating-container i {
    color: #F39C12;
}

.skill-child {
    padding-left: 5em;
    padding-right: 5em;
}

#social-media {
    width: 90.6vw;
}

.social-media-container {
    height: 252px;
}

.social-media-container i {
    font-size: 86px;
}

#instagram {
 background-color: #FF7979;   
}

#linkedin {
    background-color: #0FBCF9;   
}

#gmail {
    background-color: #e55039;
}

.send-message-container {
    height: 500px;
}

.send-message-container i {
    font-size: 80px;
}

.send-message-icon-container {
    width: 173px;
    height: 173px;
    border-radius: 85px;
    border: 1px solid white;
}

.send-message-text {
    font-size: 24px;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
    .image-profile-container {
        height: 266px;
    }

    .image-profile-container img {
        height: 266px;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    .image-profile-container {
        height: 80px;
    }

    .image-profile-container img {
        height: 170px;
    }

    .welcome-text {
        font-size: 36px;
        font-family: "Black Han Sans";
        color: #F39C12;
    }

    .description-profile p{
        font-size: 12px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .image-profile-container {
        height: 50px;
    }

    .image-profile-container img {
        height: 80px;
    }

    .welcome-text {
        font-size: 24px;
        font-family: "Black Han Sans";
        color: #F39C12;
    }

    .description-profile p{
        font-size: 12px;
    }

    .vertical-divider {
        width: 2px;
        height: 666px;
        background-color: white;
    }

    .subtitle {
        font-size: 36px;
        font-family: "Black Han Sans";
    }

    .skill-child {
        padding-left: 2em;
        padding-right: 2em;
    }
}